﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<form>
        <label for="card-input">Enter Card Name:</label>
        <input type="text" id="card-input" name="card-input">
        <label for="card-quantity">Quantity:</label>
        <input type="number" id="card-quantity" name="card-quantity" value="1" min="1">
        <button type="button" onclick="addCard()">Add Card</button>
    </form>
    <ul id="card-list"></ul>
    <button type="button" onclick="printPage()">Generate Printable Page</button>

    <script>
        const cardList = [];

function addCard() {
	const input = document.getElementById('card-input').value;
	const cardName = input.replace(/ /g, "_");
	const quantity = parseInt(document.getElementById('card-quantity').value);
	
	// Send a request to the Scryfall API to check if the card exists.
	fetch(`https://api.scryfall.com/cards/named?exact=${cardName}`)
		.then(response => {
			if (response.status !== 200) {
				throw new Error('Card not found. Check your spelling.');
			}
			return response.json();
		})
		.then(data => {
			// Check if the card is already in the list
			let cardFound = false;
			cardList.forEach((card, index) => {
				if (card.name === data.name) {
					cardFound = true;
					if (quantity < 0 && parseInt(card.quantity) < Math.abs(quantity)) {
						throw new Error('Cannot remove more cards than are in the list.');
					} else if (parseInt(card.quantity) + quantity <= 0) {
						// If the card is already in the list and the quantity will be 0 or negative, remove it
						cardList.splice(index, 1);
						document.getElementById('card-list').innerHTML = '';
						cardList.forEach(card => {
							document.getElementById('card-list').innerHTML += `<li>${card.quantity}x ${card.name}</li>`;
						});
					} else {
						// If the card is already in the list and the quantity will be positive, update the quantity
						cardList[index].quantity = parseInt(cardList[index].quantity) + parseInt(quantity);
						document.getElementById('card-list').innerHTML = '';
						cardList.forEach(card => {
							document.getElementById('card-list').innerHTML += `<li>${card.quantity}x ${card.name}</li>`;
						});
					}
				}
			});
			
			// If the card is not already in the list, add it
			if (!cardFound) {
				const card = {
					name: data.name,
					quantity: quantity
				};
				cardList.push(card);
				document.getElementById('card-list').innerHTML += `<li>${card.quantity}x ${card.name}</li>`;
			}
		})
		.catch(error => {
			// Card not found or removing more cards than are in the list, display an error message.
			alert(error);
		});
}
	
	
	function printPage() {
		// Generate a random unique ID for the printable page.
		const idDatabase = JSON.parse(localStorage.getItem('printable_ids')) || [];
		const printableId = generateUniqueID(idDatabase);
		
		// Store the card list in localStorage using the printable ID as the key.
		localStorage.setItem(`printable_${printableId}`, JSON.stringify(cardList));
		
		// Add the printable ID to the ID database in localStorage.
		idDatabase.push(printableId);
		localStorage.setItem('printable_ids', JSON.stringify(idDatabase));
		
		// Generate a custom URL and QR code for the printable page.
		const printableUrl = `${window.location.href}?id=${printableId}`;
		const qrCodeUrl = `https://chart.googleapis.com/chart?cht=qr&chs=300x300&chl=${encodeURIComponent(printableUrl)}`;
		
		// Display the printable URL and QR code to the user.
		document.getElementById('card-list').innerHTML += `
		<li>
		<a href="${printableUrl}" target="_blank">${printableUrl}</a>
		<br>
		<img src="${qrCodeUrl}" alt="QR Code">
		</li>
		`;
	}
	
	function generateUniqueID(database) {
		let id;
		do {
			id = Math.floor(Math.random() * 1000000) + 1;
		} while (database.includes(id));
		return id;
	}


    </script>
</div>
